name: CI Pipeline

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Echo event info
        run: echo "Running pipeline for PR #${{ github.event.pull_request.number }} triggered by ${{ github.event.action }}"
